
body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo{
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}
.logo img{
    height: 150px;
}

.slider {
    /* position: relative; */
    width: 100%;
    height: 400px;
    max-width: 600px;
    margin: auto;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    margin-top: -20px;

  }
  
  .slider-image {
    width: 100%;
    transition: opacity 0.5s ease;
    object-fit: contain;
    transition: transform 0.5s ease;
  }
  
  .nav-button {
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.6);
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 10;
  }
  
  .left {
    left: 10px; /* Position the left button */
  }
  
  .right {
    right: 10px; /* Position the right button */
  }
  
  .nav-button:hover {
    background-color: rgba(255, 255, 255, 0.8);
  }

  .menu img{
    width: 100%;

  }